.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid purple;
    cursor: pointer;
    outline: none;
}

.BuildControl button:disabled {
    background-color: rgb(128, 167, 172);
    border: 1px solid rgb(101, 124, 126);
    color: rgb(204, 204, 204);
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: rgb(128, 162, 172);
    color: rgb(204, 204, 204);
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {  
    background-color: rgb(82, 170, 211);
    color: white;
}

.BuildControl .More {
    background-color: rgb(30, 117, 143);
    color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: rgb(114, 116, 218);
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: rgb(63, 69, 153);
    color: white;
}